<template>
  <img alt="Vue logo" src="./assets/logo.png" />
  <HelloWorld msg="Welcome to Your Vue.js App" />
  <DockMenu :items="items"> </DockMenu>
</template>

<script setup>
import HelloWorld from "./components/HelloWorld.vue";
import { DockMenu } from "vue-dock-menu";
import "vue-dock-menu/dist/vue-dock-menu.css";

const items = [
  {
    name: "File",
    menu: [{ name: "Open" }, { name: "New Window" }, { name: "Exit" }],
  },
  {
    name: "Edit",
    menu: [{ name: "Cut" }, { name: "Copy" }, { name: "tempel" }],
  },
];
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
